<div class="container">


<div class="panel panel-default">
  <div class="panel-heading">Carriers Call </div>
     <div class="panel-body">
    <wj-flex-grid [itemsSource]="data" [selectionMode]="'Row'" style="height:auto">
        <wj-flex-grid-column [header]="'Id'" [binding]="'id'" [width]="'*'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Client'" [binding]="'client'" [width]="'*'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Group'" [binding]="'client'" [width]="'*'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Payment File'" [binding]="'id'" [width]="'*'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Insured'" [binding]="'client'"  [width]="'*'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Carrier'" [binding]="'client'" [width]="'*'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Policy'" [binding]="'amount'" [width]="'*'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Due Date'" [binding]="'date'" [width]="'*'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Premium Amount'" [binding]="'amount'"  [width]="'*'" [format]="'n0'" [aggregate]="'Sum'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Disbursement Type'" [binding]="'client'" [format]="'n0'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Anticipated Pay Date'" [binding]="'date'" [width]="'*'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Owner'" [binding]="'client'" [width]="'*'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'Wire Instruction'" [binding]="'client'" [width]="'*'"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="''" ></wj-flex-grid-column>
    </wj-flex-grid>




</div>


    </div>
        <div class="row">
        <div class="btn-group col-sm-4 col-md-offset-4">
        <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-step-backward"></span>
        </button>
        <button type="button" class="btn btn-default" disabled style="width:100px" >
            <span >{{ data.pageIndex +1 }} /</span>
            <span >{{ data.pageCount}}</span>  
        </button>
        <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
        </div>
        </div>


</div>






 